body {
    /* background: url('ferris\ wheel.jpg') no-repeat center center/cover; */
    background-color:#1E90FF;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(70, 151, 243, 0.473); 
   
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 50px auto;
}
h1 {
    text-align: center; 
    color: #FFD700;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #6bd3c7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #004d40;
}
